@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

section {
    padding-top: 200px;
    text-align: center;
    text-shadow: 3px 3px 2px rgba(150, 150, 150, 1);
    color: white;
}

.mainbutton {
    min-width: 40px;
    min-height: 40px;
    font-size: 40px;
    border-radius: 20px;
}

.navbar-nav {
    text-align: center;
}

body {
    background-image: url("image/homepage.jpg");
    background-size: cover;
}
